.sec-4{
    max-width: 1380px;
    margin: 0 auto;
    background-color: black;
    padding: 5rem;
    column-gap: 4rem;
    display: grid;
    grid-template-rows: min-content 1fr;
    color: white;
    align-items: center;
    justify-content: center;
}
.sec-4 .text-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 4rem;
}
.sec-4 h2{
    font-size: 2.8rem;
    text-align: center;
    font-weight: 800;
}
.sec-4 p{
    font-size: 1.4rem;
    opacity: 0.8;
    font-weight: 400;
    text-align: center;
    color: white ;
    opacity: 0.5;
}


.sec-4 .img-div{
max-width:1200px ;
display: grid;
grid-template-columns: repeat(3, 28rem);
grid-template-rows: repeat(2, 25rem);
gap: 2rem;
align-items: center;
justify-content: center;
background-color: rgba(76, 76, 76, 0.7);
padding: 2rem 2rem;
border-radius: 1rem;
}
.sec-4 div{
    border-radius: 1rem;
    display: flex;
    align-items: end;
    justify-content: left;
    padding: 2rem;
    font-size: 2.4rem;
    font-weight: 700;
}
.sec-4 .img-div .img-1{
    background: url("./trainer1.png");
    background-position: center;
    background-size: cover;
    height: 100%;
    /* grid-column: 1/2;
    grid-row: 1/2; */
    background-repeat: no-repeat;
}
.sec-4 .img-div .img-2{
    background: url("./trainer2.png");
    background-position: center;
    background-size: cover;
    height: 100%;
    /* grid-column: 2/3;
    grid-row: 1/2; */
    background-repeat: no-repeat;
}
.sec-4 .img-div .img-3{
    background: url("./trainer3.png");
    background-position: center;
    background-size: cover;
    height: 100%;
    /* grid-column: 3/4;
    grid-row: 1/2; */
    background-repeat: no-repeat;
}
.sec-4 .img-div .img-4{
    background: url("./trainer4.png");
    background-position: center;
    background-size: cover;
    height: 100%;
    /* grid-column: 1/2;
    grid-row: 2/3; */
    background-repeat: no-repeat;
}
.sec-4 .img-div .img-5{
    background: url("./trainer5.png");
    background-position: center;
    background-size: cover;
    height: 100%;
    /* grid-column: 2/3;
    grid-row: 2/3; */
    background-repeat: no-repeat;
}
.sec-4 .img-div .img-6{
    background: url("./trainer6.png");
    background-position: center;
    background-size: cover;
    height: 100%;
    /* grid-column: 3/4;
    grid-row: 2/3; */
    background-repeat: no-repeat;
}

@media(max-width:910px){
    .sec-4 .img-div{
        grid-template-columns: repeat(3, 24rem);
        grid-template-rows: repeat(2, 20rem);
    }
    .sec-4 div{
        font-size: 1.8rem;
        padding: 1rem;
    }
}
@media(max-width:790px){
    .sec-4 .img-div{
        grid-template-columns: repeat(3, 20rem);
        grid-template-rows: repeat(2, 18rem);
    }
    .sec-4 div{
        font-size: 1.6rem;
        padding: 1rem;
    }
}
@media(max-width:680px){
    .sec-4 .img-div{
        grid-template-columns: repeat(2, 25rem);
        grid-template-rows: repeat(3, 20rem);
    }
}

@media(max-width:500px){
    .sec-4 .img-div{
        grid-template-columns: 48rem;
        /* grid-template-rows: repeat(2, 20rem);/ */
        grid-template-rows: repeat(6, 300px);
    }
    .sec-4 div{
        font-size: 2.8rem;
        padding: 2rem;
    }
}